<!-- extends base -->
{% extends "base.html" %}
<!-- page title  -->
{% block title %}Home{% endblock %}
<!-- page content -->
{% block content %}
<h2>Welcome to the Purchase Registration System!</h2>
<p>
  Are you tired of the hassle of manually managing your purchases? Say goodbye
  to paperwork and hello to efficiency with our user-friendly Purchase
  Registration System.
</p>
<p>
  This system is designed to streamline the process of recording and tracking
  purchases for individuals and businesses alike. Whether you're managing
  inventory for a small shop or keeping track of personal expenses, The system
  got you covered.
</p>
<p>
  With the intuitive interface, you can easily register purchases, categorize
  them, and generate reports with just a few clicks. No more digging through
  stacks of receipts or spreadsheets everything you need is right at your
  fingertips.
</p>
{% endblock %}
